.row{
    /* position: relative; */
    width: 400px;
    height: 2px;
    background-color: #474747;
}
.col{
    position: relative;
    top: -5px;
    left: 0;
    width: 100px;
    height: 10px;
    background-color: #FF7143;
    animation-name: slide-right;
    animation-duration: 5s;
}
@keyframes slide-right {
    0%   {background-color:#FF7143; left:0px; top:-5px;}
  25%  {background-color:#FF7143; left:100px; top:-5px;}
  50%  {background-color:#FF7143; left:200px; top:-5px;}
  75%  {background-color:#FF7143; left:300px; top:-5px;}
  100% {background-color:#FF7143; left:0px; top:-5px;}
}

